// App colours
$bkgr-color: rgb(253, 253, 251);
$grey-line-color: #c2c2c2;

// Icon colours
$default-icon-color: #707072;

// Searchbar colours
$searchbutton-bkgr-color: rgb(241, 243, 247);
$searchbutton-key-bkgr-color: rgb(217, 225, 240);
$searchbutton-placeholder-color: #707072;
$searchbutton-border-color: rgb(194, 194, 194);

// Searchpanel colours
$searchpanel-bkgr-color: #f1f3f7;
$searchpanel-input-bkgr-color: white;
