p {
  font-family: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto,
    Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 17px;
  color: rgb(41, 41, 41);
  margin-top: 0;
}

.heading {
  font-family: "Times New Roman", serif;
  width: 100%;
  text-align: left;
  font-weight: 400;

  &1 {
    font-size: 44px;

    margin-bottom: 2rem;
    // margin-top: 2rem;
  }

  &2 {
    font-size: 34px;

    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }

  &3 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
}
